server="" # full server url! (with http(s)://)
api_key="" #* jellyfin api key; backend automatically appends mediabrowser and stuff
#(the token is at the very bottom!)







































bot_token=""